body {
  font-family: 'Segoe UI', sans-serif;
  background: #11161e;
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #00bcd4; /* celeste */
}

section {
  background: #1d2631;
  padding: 25px;
  margin-bottom: 30px;
  border-left: 10px solid #00bfa5; /* verde agua */
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 191, 165, 0.4);
  transition: transform 0.3s ease;
}

section:hover {
  transform: scale(1.01);
}

input, button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

input {
  width: 120px;
  background-color: #263238;
  color: #ffffff;
  border: 1px solid #4dd0e1;
}

/* Quitar flechas del input tipo number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

button {
  background-color: #f44336; /* rojo fuerte */
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #d32f2f;
}

.resultado {
  font-weight: bold;
  margin-top: 15px;
  color: #8bc34a; /* verde lima */
}

